*{
    background-color: blanchedalmond;
}
/* //group selector */
h1,h2,h3{
    background-color: aliceblue;
    color: bisque;
}
#Aniket{
    height: 300px;
    width: 200px;
}
.colour{
    color: blue;
    height: 200px;
  
    
    align-items: center;
    
}